WellEmulator.Service.Client/Service References/ServiceReference/WellEmulatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://WellEmulator.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://WellEmulator.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://WellEmulator.com/Imports">
      <xsd:import schemaLocation="http://localhost:9439/WellEmulatorService?xsd=xsd0" namespace="http://WellEmulator.com" />
      <xsd:import schemaLocation="http://localhost:9439/WellEmulatorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9439/WellEmulatorService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WellEmulator.Models" />
      <xsd:import schemaLocation="http://localhost:9439/WellEmulatorService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWellEmulator_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_DisableReplication_InputMessage">
    <wsdl:part name="parameters" element="tns:DisableReplication" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_DisableReplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableReplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_EnableReplication_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableReplication" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_EnableReplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableReplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_IsReplicate_InputMessage">
    <wsdl:part name="parameters" element="tns:IsReplicate" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_IsReplicate_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsReplicateResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_IsRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRunning" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_IsRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRunningResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_SetSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSettings" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_SetSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSettings" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_AddTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTag" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_AddTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTagResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_RemoveTag_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTag" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_RemoveTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTagResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTag" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetWitsmlObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWitsmlObjects" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetWitsmlObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWitsmlObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetWitsmlElements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWitsmlElements" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetWitsmlElements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWitsmlElementsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_AddMapItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMapItem" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_AddMapItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMapItemResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_RemoveMapItems_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMapItems" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_RemoveMapItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMapItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetMappings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMappings" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetMappings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMappingsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetSettingsTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingsTags" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetSettingsTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingsTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetAllHistTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHistTags" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetAllHistTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHistTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetHistWells_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistWells" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetHistWells_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistWellsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetHistTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistTags" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetHistTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetPdgtmTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPdgtmTags" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetPdgtmTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPdgtmTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetPdgtmWells_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPdgtmWells" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetPdgtmWells_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPdgtmWellsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetNotMappedHistTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotMappedHistTags" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetNotMappedHistTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotMappedHistTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetNotMappedPdgtmTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotMappedPdgtmTags" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_GetNotMappedPdgtmTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotMappedPdgtmTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_OnPdgtmDataChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPdgtmDataChanged" />
  </wsdl:message>
  <wsdl:message name="IWellEmulator_OnHistorianDataChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnHistorianDataChanged" />
  </wsdl:message>
  <wsdl:portType name="IWellEmulator">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/Connect" message="tns:IWellEmulator_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/ConnectResponse" message="tns:IWellEmulator_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/Disconnect" message="tns:IWellEmulator_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/DisconnectResponse" message="tns:IWellEmulator_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisableReplication">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/DisableReplication" message="tns:IWellEmulator_DisableReplication_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/DisableReplicationResponse" message="tns:IWellEmulator_DisableReplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableReplication">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/EnableReplication" message="tns:IWellEmulator_EnableReplication_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/EnableReplicationResponse" message="tns:IWellEmulator_EnableReplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsReplicate">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/IsReplicate" message="tns:IWellEmulator_IsReplicate_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/IsReplicateResponse" message="tns:IWellEmulator_IsReplicate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/IsRunning" message="tns:IWellEmulator_IsRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/IsRunningResponse" message="tns:IWellEmulator_IsRunning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/Start" message="tns:IWellEmulator_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/StartResponse" message="tns:IWellEmulator_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/Stop" message="tns:IWellEmulator_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/StopResponse" message="tns:IWellEmulator_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSettings">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/SetSettings" message="tns:IWellEmulator_SetSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/SetSettingsResponse" message="tns:IWellEmulator_SetSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSettings">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetSettings" message="tns:IWellEmulator_GetSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetSettingsResponse" message="tns:IWellEmulator_GetSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/AddTag" message="tns:IWellEmulator_AddTag_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/AddTagResponse" message="tns:IWellEmulator_AddTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/RemoveTag" message="tns:IWellEmulator_RemoveTag_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/RemoveTagResponse" message="tns:IWellEmulator_RemoveTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTag">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetTag" message="tns:IWellEmulator_GetTag_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetTagResponse" message="tns:IWellEmulator_GetTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWitsmlObjects">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetWitsmlObjects" message="tns:IWellEmulator_GetWitsmlObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetWitsmlObjectsResponse" message="tns:IWellEmulator_GetWitsmlObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWitsmlElements">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetWitsmlElements" message="tns:IWellEmulator_GetWitsmlElements_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetWitsmlElementsResponse" message="tns:IWellEmulator_GetWitsmlElements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMapItem">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/AddMapItem" message="tns:IWellEmulator_AddMapItem_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/AddMapItemResponse" message="tns:IWellEmulator_AddMapItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMapItems">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/RemoveMapItems" message="tns:IWellEmulator_RemoveMapItems_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/RemoveMapItemsResponse" message="tns:IWellEmulator_RemoveMapItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMappings">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetMappings" message="tns:IWellEmulator_GetMappings_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetMappingsResponse" message="tns:IWellEmulator_GetMappings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSettingsTags">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetSettingsTags" message="tns:IWellEmulator_GetSettingsTags_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetSettingsTagsResponse" message="tns:IWellEmulator_GetSettingsTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHistTags">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetAllHistTags" message="tns:IWellEmulator_GetAllHistTags_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetAllHistTagsResponse" message="tns:IWellEmulator_GetAllHistTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistWells">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetHistWells" message="tns:IWellEmulator_GetHistWells_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetHistWellsResponse" message="tns:IWellEmulator_GetHistWells_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistTags">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetHistTags" message="tns:IWellEmulator_GetHistTags_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetHistTagsResponse" message="tns:IWellEmulator_GetHistTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPdgtmTags">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetPdgtmTags" message="tns:IWellEmulator_GetPdgtmTags_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetPdgtmTagsResponse" message="tns:IWellEmulator_GetPdgtmTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPdgtmWells">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetPdgtmWells" message="tns:IWellEmulator_GetPdgtmWells_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetPdgtmWellsResponse" message="tns:IWellEmulator_GetPdgtmWells_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotMappedHistTags">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetNotMappedHistTags" message="tns:IWellEmulator_GetNotMappedHistTags_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetNotMappedHistTagsResponse" message="tns:IWellEmulator_GetNotMappedHistTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotMappedPdgtmTags">
      <wsdl:input wsaw:Action="http://WellEmulator.com/IWellEmulator/GetNotMappedPdgtmTags" message="tns:IWellEmulator_GetNotMappedPdgtmTags_InputMessage" />
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/GetNotMappedPdgtmTagsResponse" message="tns:IWellEmulator_GetNotMappedPdgtmTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPdgtmDataChanged">
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/OnPdgtmDataChanged" message="tns:IWellEmulator_OnPdgtmDataChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnHistorianDataChanged">
      <wsdl:output wsaw:Action="http://WellEmulator.com/IWellEmulator/OnHistorianDataChanged" message="tns:IWellEmulator_OnHistorianDataChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>